.CardContainerList {
  display: flex;
  /* height: 100%; */
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--colori-neutri-background);
  margin-left: 8px;
  transition: all 0.5s ease-in-out;
}

.MonumentsBlock {
  /* width: calc(100% - 225px); */
  height: 100%;
  width: 100%;
  /* transition: all 0.5s ease-in-out; */
}

.MonumentsBlockWithDetail {
  /* width: calc(100%); */
  height: 100%;
  width: 100%;
  /* transition: all 0.5s ease-in-out; */
}

.InputSearch {
  height: 45px;
  padding: 8px 48px;
  align-items: center;
  gap: 16px;
  border-radius: 30px;
  border: 1px solid var(--secondary-variant, #eff8fb);
  background: var(--colori-neutri-white, #fff);
  box-shadow: 1px 2px 0px 0px rgba(17, 138, 178, 0.23);
  width: 100%;
  color: var(--secondary);
  /* Body */
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.InputSearch:focus-visible {
  border-radius: 30px;
  border: 1px solid var(--secondary-variant, #eff8fb);
  background: var(--colori-neutri-white, #fff);
  box-shadow: 1px 2px 0px 0px rgba(17, 138, 178, 0.23);
  outline: none;
}

.SearchIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.ClearSearch {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.ListMonuments {
  border-radius: 10px;
  background: var(--overlay);
  margin-top: 8px;
  padding: 8px;
  height: calc(100% - 52px);
  overflow-y: auto;
  position: relative;
}

.MonumentCard {
  display: flex;
  min-height: 84px;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--colori-neutri-white);
  margin-bottom: 4px;
  cursor: pointer;
}

.MonumentCardWithDetail {
  display: flex;
  min-height: 84px;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  background: var(--colori-neutri-gray-2);
}

.MonumentTitle {
  color: var(--primary);
  overflow: hidden;
  text-overflow: ellipsis;
  /* Body */
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 200px;
}

.City {
  color: var(--colori-neutri-gray);
  /* Body */
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.NumberPhoto {
  color: var(--primary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}

.Distance {
  color: var(--colori-neutri-gray);
  text-align: center;
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}

.CardDetail {
  display: flex;
  width: 401px;
  height: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--colori-neutri-background);
  margin-left: 8px;
}

.LegendButton {
  position: absolute;
  right: 16px;
  bottom: 16px;
  border-radius: 30px;
  background: var(--primary);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
}

.LegendButton:hover {
  background: rgba(17, 138, 178, 0.8);
  cursor: pointer;
}

.LegendButtonActive {
  border-radius: 30px;
  border: 3px solid var(--secondary);
  background: var(--primary);
  box-shadow: 0px 0px 10px 0px #bdecff;
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.Legend {
  display: flex;
  z-index: -1;
  margin-left: 8px;
  margin-top: 8px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--overlay);
  box-shadow: 0px 0px 8px 0px rgba(197, 197, 197, 0.1);
}

.LegendTitle {
  color: var(--primary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  border-right: 0.5px solid var(--primary);
  padding-right: 16px;
}

.MonumentType {
  padding-left: 24px;
  color: var(--primary);
  /* Body */
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-right: 0.5px solid var(--primary);
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ItemCard {
  margin-bottom: 4px;
}

.NameItem {
  margin-left: 4px;
}
