.LegendTitle {
  color: var(--primary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  padding-right: 16px;
}

.MonumentType {
  color: var(--primary);
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ItemCard {
  margin-bottom: 4px;
}

.NameItem {
  margin-left: 4px;
}

.NameItemWhite {
  margin-left: 4px;
  color: var(--colori-neutri-white);
  /* Body */
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BlockLegendColors {
  padding-left: 16px;
  display: flex;
  width: 250px;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  height: 100%;
  color: var(--primary);
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ciao */

.BlockLegendColorsNoDetail {
  padding-left: 16px;
  display: flex;
  /* width: 320px; */
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: var(--primary);
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ItemCardColor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
}

.ItemCardColorColumn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
}

.CardMinorPadding {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 30px;
}

.CardMinorPaddingDetail {
  display: flex;
  flex-direction: row;
}

.Legend {
  display: flex;
  z-index: -1;
  margin-top: 8px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--overlay);
  box-shadow: 0px 0px 8px 0px rgba(197, 197, 197, 0.1);
}

.BlockInConcorsoOrNot {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--colori-neutri-gray);
}
