.SlideShow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  top: 0;
  left: 0;
}

.SlideShowImage {
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 20%;
}

.SlideShowClose {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 6;
}

.InfoBlockSlideShow {
  display: flex;
  width: 100%;
  min-height: 151px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(31, 30, 28, 0.6);
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
  color: var(--colori-neutri-white);
}

.InfoBlockSlideShowTitle {
  color: var(--colori-neutri-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Municipality {
  color: var(--colori-neutri-white);
  /* Label */
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PicturesCount {
  color: var(--colori-neutri-white);
  /* Label */
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4px;
}

.Artist > a {
  color: var(--colori-neutri-white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4px;
  color: white;
  padding-right: 8px;
  border-right: 2px solid white;
}

.DateImage {
  color: var(--colori-neutri-white);
  text-align: center;
  /* Label */
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
  margin-top: 2px;
}

.License {
  color: var(--colori-neutri-white);
  margin-top: 4px;
  /* Label */
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.Description {
  color: var(--colori-neutri-white);
  /* Label */
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  font-style: normal;
  margin-top: 4px;
  font-weight: 400;
  line-height: normal;
}

.Description > a {
  color: var(--colori-neutri-white);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .SlideShowImage {
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 0%;
  }
}
