@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

:root {
  --primary: #118ab2;
  --secondary: #40baec;
  --secondary-variant: #eff8fb;
  --tertiary: #cf4130;
  --monumento-tante-foto: #12AAFF;
  --monumento-poche-foto: #973FFF;
  --concorso: #fed169;
  --overlay: #e9f1f3;
  --colori-neutri-white: #ffffff;
  --colori-neutri-gray: #84a5bd;
  --colori-neutri-gray-2: #d0dfe4;
  --colori-neutri-dark-gray: #4a4a4a;
  --colori-neutri-background: #fbfbfb;
  --topbar-mobile-height: 45px;
  --topbar-desktop-height: 53px;
  --bottom-mobile-navigation-height: 60px;
  --bottom-desktop-navigation-height: 83px;
  --font-roboto-slab: 'Roboto Slab', serif;
  --font-monsterrat: 'Montserrat', sans-serif;
}

.block-content {
  height: calc(
    100% - var(--topbar-mobile-height) - var(--bottom-mobile-navigation-height)
  );
  margin-top: var(--topbar-mobile-height);
  position: relative;
  overflow: hidden;
}

.block-content-desktop {
  height: calc(
    100% - var(--topbar-desktop-height) - var(--bottom-desktop-navigation-height)
  );
  margin-top: var(--topbar-desktop-height);
  position: relative;
  overflow: hidden;
  background: var(--primary);
  padding: 16px;
  padding: 16px;
}

.no-link {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 20px;
}

.swiper-pagination-bullet-active{
  background: var(--primary);
}